@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');    

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #EBEBEB */
    background-image: url(fundo-roxo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

* {
    box-sizing: border-box;
}

.form-container {
    background-color: #FFFFFF;
    margin: 150px auto;
    width: 400px;
    border-radius: 20px;
}

form {
    padding: 20px;  
}

h3 {
    text-align: center;
    font-weight: 900;
}

form .input-container {
    position: relative;
    margin-bottom: 15px;
}

form .input-container  input, input[type="submit"], button[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

input[type="submit"] {
    border: 0;
    background-color: #000dffba;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

button[type="submit"] {
    border: 0;
    background-color: #000dffba;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px; 
}

form .input-container  input {
    border: 1px solid #E4E4E4;
    color: #818181;
    padding: 0 55px 0 25px;
    font-size: 1rem;

}

form .input-container  input ::placeholder {
    color: #818181;
}

form .input-container svg {
    position: absolute;
    right:20px;
    top: calc(50% - 12px);
    color: #818181;
}

.options-container {
    padding: 0 20px;
    margin: 30px auto;
    color: #818181;
}

.options-container .checkbox-container, .options-container a {
    display: inline-block;
    width: 50%; /*para cada um ocupar metade do espaço da div*/
}

a {
    text-align: right;
    color: #000dffba;
    text-decoration: none;
}
button a {
    color: white;
}

form p{
    color: #818181;
    text-align: center;
}

form .social-media-container, form .social-media-container .form-container{
    margin: 0 auto;
    width: fit-content; /* faz com que seu conteudo use somente o espaço necessario */

}

form .social-media-container .icon-container,.icon-container-check {
    background: #375c98;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

form .social-media-container .icon-container:nth-child(2) {
    background: #C54F33;
}

form .social-media-container .icon-container:nth-child(3) {
    background: #4dadf2;
}

form .social-media-container .icon-container-check {
    background: #008000;
}


form .social-media-container .icon-container svg , .icon-container-check svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px); /*ambos os comandos servem para que o simbolo fique dentro dos circulos que a gente criou, exatamente no meio*/
    color: white;
}

hr {
    color: #818181 ;
    margin: 30px 0;
}

.footer {
    width: fit-content;
    margin: auto; /*para ficar centralizado*/
}


/* Projeto está no site pinspiry.com/forms-ui-kit-free-psd/ */